USE [master]
GO
/****** Object:  Database [TAKENOTES_DB]    Script Date: 4/4/2024 12:11:31 PM ******/
CREATE DATABASE [TAKENOTES_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TAKENOTES_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TAKENOTES_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TAKENOTES_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TAKENOTES_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TAKENOTES_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TAKENOTES_DB]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 4/4/2024 12:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTAS]    Script Date: 4/4/2024 12:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTAS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NULL,
	[Description] [varchar](250) NULL,
	[IdCategory] [int] NULL,
	[Archived] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 4/4/2024 12:11:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Pass] [varchar](20) NULL
) ON [PRIMARY]
GO
USE [master]
GO
